html {
  scroll-behavior: smooth;
}

/* RESET */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
}

/* NAVBAR */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* BLACK toggler icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 991px) {
  /* White background */
  .navbar-collapse {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 10px;
  }

  /* TEXT color BLACK */
  .navbar-collapse .nav-link {
    color: #000 !important;
    font-weight: 500;
  }

  /* Remove blue hover */
  .navbar-collapse .nav-link:hover {
    color: #000;
    opacity: 0.7;
  }

  /* Button text stays white */
  .navbar-collapse .btn {
    color: #fff !important;
  }
}
.navbar {
  overflow: visible;
  background: transparent;
  height: 70px;
}
.custom-navbar {
  padding: 18px 0;
}

.navbar-brand {
  color: #000;
}
.navbar-brand:hover{
    color: #000;
}
.navbar-logo {
  height: 50px;
}
/* Make hamburger icon black */
.navbar-toggler {
  border-color: rgba(0,0,0,0.3);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  color: #000;
  font-weight: 500;
  margin: 0 10px;
}

.nav-link:hover {
  color: black;
}
/* NAVBAR DEFAULT */
.custom-navbar {
  background-color: #fff;
  padding: 18px 0;
  transition: all 0.35s ease;
  position: absolute;
  width: 100%;
  z-index: 999;
}

/* NAVBAR AFTER SCROLL */
.custom-navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}
.custom-navbar.scrolled .nav-link,
.custom-navbar.scrolled .navbar-brand {
  color: #2d2e32 !important;
}

.custom-navbar.scrolled .nav-link:hover {
  color: #7B4CE2 !important;
}



/* BUTTON */
.btn-pink {
  background: blue;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
}

.btn-pink:hover {
  background: rgb(15, 15, 203);
  color: white;
  border: 1px solid white;
}

/* ABOUT DROPDOWN STYLE */
.about-dropdown {
  border: none;
  border-radius: 12px;
  padding: 15px 0;
  min-width: 240px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* DROPDOWN ITEMS */
.about-dropdown .dropdown-item {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #2d2e32;
}

.about-dropdown .dropdown-item:hover {
  background: #f6f7fb;
  color: #6c4ce2;
}

/* DESKTOP HOVER LOGIC */
@media (min-width: 992px) {

  /* hide by default */
  .about-dropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(12px);
    transition: all 0.25s ease;
    margin-top: 0;
  }

  /* show on hover */
  .about-dropdown-wrap:hover .about-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  /* remove bootstrap arrow */
  .dropdown-toggle::after {
    display: none;
  }
}


/* PAGES MEGA DROPDOWN */
.pages-dropdown {
  width: 900px;
  left: -500px;
  padding: 30px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

/* ITEMS */
.pages-dropdown .dropdown-item {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #2d2e32;
}

.pages-dropdown .dropdown-item:hover {
  background: none;
  color: #7B4CE2;
}

/* BADGE */
.pages-dropdown .badge {
  font-size: 12px;
  border-radius: 50px;
}

/* DESKTOP HOVER */
@media (min-width: 992px) {
  .pages-dropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
  }

  .pages-dropdown-wrap:hover .pages-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}



/* Section */
.pricing-section {
  padding: 100px 0;
  background: linear-gradient(to bottom,#f5f6f9 0%,#fff 100%);
}

.pricing-title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Toggle */
.billing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

.save-text {
  color: #2a6df4;
  font-size: 14px;
  margin-top: 10px;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #2a6df4;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Cards */
.pricing-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  text-align: left;
}

.price {
  font-size: 36px;
  font-weight: 700;
  margin: 15px 0;
}

.price span {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* Button */
.btn-primary-custom {
  width: 100%;
  background: #2a6df4;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  margin-bottom: 20px;
}

.btn-primary-custom:hover {
  background: #1e54c7;
}

/* List */
.pricing-card ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.pricing-card ul li {
  margin-bottom: 10px;
}

.muted {
  color: #aaa;
}






/* SECTION */
.logo-section {
  padding: 0px 0 60px;
  background: #fff;
  text-align: center;
}

.logo-title {
  font-size: 22px;
  color: #2d2e32;
  margin-bottom: 40px;
  font-weight: 500;
}

/* MARQUEE WRAPPER */
.logo-marquee {
  padding: 20px 0px;
  overflow: hidden;
  width: 100%;
}

/* TRACK */
.logo-track {
  display:flex;
  gap: 80px;
  width: max-content;
  animation: marquee 25s linear infinite;
}

/* LOGOS */
.logo-track a img {
  height: 70px;
  opacity: 0.6;
  transition: 0.3s;
}

.logo-track img:hover {
  opacity: 1;
}

/* ANIMATION */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



/* Section */
.compare-section {
  padding: 100px 0;
  background: #fff;
}

.compare-title {
  font-size: 40px;
  font-weight: 700;
  color: #2c3e50;
}

.compare-subtitle {
  color: #666;
  font-size: 15px;
  margin-top: 10px;
}

/* Table */
.compare-table {
  background: #fff;
}

.compare-table th {
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.compare-table td {
  vertical-align: middle;
  font-size: 14px;
}

.compare-table td:first-child {
  font-weight: 500;
}

.compare-table td:not(:first-child),
.compare-table th:not(:first-child) {
  text-align: center;
}

.compare-table tr {
  border-bottom: 1px solid #e5e5e5;
}

/* Icons */
.check {
  color: #2a6df4;
  font-weight: bold;
}

.cross {
  color: #bbb;
  font-weight: bold;
}

/* Bottom Section */
.bottom-info h6 {
  font-weight: 600;
  margin-bottom: 10px;
}

.bottom-info p {
  font-size: 14px;
  color: #666;
}

.payment-icons span {
  display: inline-block;
  background: #eaeaea;
  padding: 6px 10px;
  margin-right: 6px;
  font-size: 12px;
  border-radius: 4px;
}



/* Section */
.faq-section {
  padding: 100px 0;
  background: linear-gradient(to bottom,#f5f6f9 0%,#fff 100%);
}

/* Title */
.faq-title {
  font-size: 42px;
  font-weight: 700;
  color: #2c3e50;
}

.faq-subtitle {
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}

/* FAQ Items */
.faq-item {
  margin-bottom: 40px;
}

.faq-item h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #2c3e50;
}

.faq-item p {
  font-size: 15px;
  color: #666;
  line-height: 1.8;
}

.faq-item ul {
  padding-left: 20px;
  color: #666;
}

.faq-item ul li {
  margin-bottom: 10px;
  font-size: 15px;
}



/* Section */
.cta-wrapper {
  padding: 0px 0;
}

.cta-pill {
  display: inline-block;
  background: #e9edf5;
  padding: 18px 40px;
  border-radius: 50px;
  font-size: 18px;
  color: #555;
  font-weight: 500;
}

.cta-pill a {
  color: #2a6df4;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 5px;
}

.cta-pill a:hover {
  color: #1e54c7;
}


/* Section */
.cta-banner {
  padding: 100px 0;
  background: #fff;
}

.cta-box {
  background: linear-gradient(135deg, #5f5bd5, #6f63e6);
  padding: 80px 20px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

/* Title */
.cta-box h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Subtitle */
.cta-subtitle {
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 30px;
}

/* Button */
.cta-btn {
  display: inline-block;
  background: #2a6df4;
  color: #fff;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 20px;
}

.cta-btn:hover {
  background: #1e54c7;
  color: #fff;
}

/* Note */
.cta-note {
  font-size: 15px;
  opacity: 0.9;
}






/* Footer */
.footer {
  background: #ffffff;
  padding: 50px 0 40px;
  font-family: 'Segoe UI', sans-serif;
}

/* TOP */
.footer-top {
  display: grid;
  grid-template-columns: 1.4fr repeat(4, 1fr);
  gap: 50px;
}

/* LOGO */
.footer-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo {
  width: 42px;
}

.brand-name {
  font-size: 22px;
  font-weight: 800;
  color: #1f2937;
}

/* COLUMNS */
.footer-col h5 {
  font-size: 18px;
  font-weight: 700;
  color: #2d2e32;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 14px;
}

.footer-col ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #6c757d;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #1d7dfc;
}

/* EMAIL */
.footer-email {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 16px;
}

/* SOCIAL */
.footer-social a {
  margin-right: 14px;
  font-size: 18px;
  color: #6c757d;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #1d7dfc;
}

/* DIVIDER */
.footer hr {
  margin: 50px 0 30px;
  border: none;
  border-top: 1px solid #e5e7eb;
}

/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #6c757d;
}















/* RESPONSIVE */
@media (max-width: 991px) {
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-brand{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .testimonial-title {
    font-size: 36px;
  }

  .testimonial-subtitle {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .job-section-title {
    font-size: 22px;
  }

  .job-apply-section p,
  .job-steps li {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer-links a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .content-text {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .job-list-title {
    font-size: 20px;
  }

  .job-list li {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  .job-section-title {
    font-size: 24px;
  }

  .job-content-section p {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .contact-title {
    font-size: 36px;
  }

  .contact-btn {
    font-size: 18px;
    padding: 14px 28px;
  }
}

@media (max-width: 768px) {
  .benefits-box {
    padding: 40px 24px;
  }

  .benefit-title {
    font-size: 20px;
  }

  .benefit-text {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .job-title {
    font-size: 36px;
  }

  .job-location {
    font-size: 18px;
  }
}


@media (max-width: 992px) {
  .career-box {
    padding: 60px 20px;
    text-align: center;
  }

  .career-text {
    margin: 0 auto 20px;
  }

  .career-img {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .roles-title {
    font-size: 36px;
  }

  .roles-subtitle {
    font-size: 17px;
  }
}


@media (max-width: 768px) {
  .cta-title {
    font-size: 34px;
  }
  .cta-box {
    padding: 60px 20px;
  }
}


@media (max-width: 991px) {
  .subscribe-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }

  .subscribe-form {
    justify-content: center;
    flex-wrap: wrap;
  }

  .subscribe-form input,
  .subscribe-form button {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .cta-box {
    padding: 70px 30px;
  }

  .cta-box h2 {
    font-size: 36px;
  }

  .cta-subtitle {
    font-size: 18px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .faq-grid {
    grid-template-columns: 1fr;
  }

  .faq-header h2 {
    font-size: 32px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .integrations-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .integrations-title {
    font-size: 32px;
  }
}

@media (max-width: 575px) {
  .integrations-grid {
    grid-template-columns: 1fr;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .ratings-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

/* MOBILE */
@media (max-width: 991px) {
  .custom-arrow {
    display: none;
  }

  .testi-title {
    font-size: 32px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .step-content h5 {
    font-size: 20px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .insights-title {
    font-size: 36px;
  }

  .insights-chart {
    margin: 35px auto;
    padding: 15px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .section-title {
    font-size: 36px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .main-title {
    font-size: 36px;
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .logo-track {
    gap: 50px;
  }

  .logo-track img {
    height: 32px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .dashboard-section {
    margin-top: -120px;
  }

  .dashboard-img {
    width: 100%;
    border-radius: 18px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .okr-content h2 {
    font-size: 36px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .section-title {
    font-size: 34px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .section-title {
    font-size: 36px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .section-title {
    font-size: 30px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .stat-item h3 {
    font-size: 42px;
  }

  .stat-item p {
    margin: 0 auto;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .image-card {
    padding: 25px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .heading-wrap h2 {
    font-size: 38px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .solution-img {
    width: 100%;
    height: auto;
  }

  .float-box.impressions {
    left: 0;
  }

  .float-box.engagement {
    left: 0;
  }
}
/* RESPONSIVE */
@media (max-width: 991px) {
  .main-img {
    width: 300px;
    height: 300px;
  }

  .main-title {
    font-size: 34px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .section-title h2 {
    font-size: 36px;
  }
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-section {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .dropdown-hover:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    margin-top: 0;
  }
}




/* Animation */
.animate-2col > [class*="col-"] {
  opacity: 0;
  transition: all 0.9s ease;
}

/* LEFT COLUMN */
.animate-2col > [class*="col-"]:first-child {
  transform: translateX(-70px);
}

/* RIGHT COLUMN */
.animate-2col > [class*="col-"]:last-child {
  transform: translateX(70px);
}

/* ACTIVE */
.animate-2col.show > [class*="col-"] {
  opacity: 1;
  transform: translateX(0);
}




/* up */
.animate-up > [class*="col-"] {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

/* STAGGER EFFECT (nice touch) */
.animate-up > [class*="col-"]:nth-child(1) { transition-delay: 0.1s; }
.animate-up > [class*="col-"]:nth-child(2) { transition-delay: 0.2s; }
.animate-up > [class*="col-"]:nth-child(3) { transition-delay: 0.3s; }
.animate-up > [class*="col-"]:nth-child(4) { transition-delay: 0.4s; }

/* ACTIVE */
.animate-up.show > [class*="col-"] {
  opacity: 1;
  transform: translateY(0);
}