html {
  scroll-behavior: smooth;
}

/* RESET */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
}

.auth-wrapper {
  min-height: 100vh;
  background: #f4f6f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  background: #fff;
  width: 100%;
  max-width: 460px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #2c2f36;
}
.logo img{
    height: 50px;
}

.form-control {
  height: 52px;
  border-radius: 10px;
  background: #f7f8fa;
  border: none;
  padding: 0 16px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #1c7df8;
  background: #fff;
}

.btn-primary {
  height: 52px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  background: #1c7df8;
  border: none;
}

.btn-primary:hover {
  background: #1366d6;
}

.remember-link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  color: #6c757d;
  text-decoration: underline;
}

.remember-link:hover {
  color: #1c7df8;
}